body {
    background-color: ivory;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 700px;
}

*.hidden {
    display: none;
}

.section-title {
    border: 10pt red;
    z-index: 100;
}

.section-title h2 {
    font-size: smaller;
    text-align: right;
    float: right;
    width: auto;
    font-weight: lighter;
    font-style: italic;
}

.section-activity {
    padding-bottom: 10px;
}

.section-activity .content p {
    margin: 0 5%;
    text-align: justify;
}

.title {
    font-weight: bold;
    text-decoration: underline;
}