body {
    background-color: ivory;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 700px;
}

*.hidden {
    display: none;
}

.section-title h2 {
    font-size: smaller;
    text-align: right;
    float: right;
    z-index: 100;
}

.section-activity {
    border: 2pt solid lightblue;
}

.section-activity .content p {
    margin: 0 5%;
    text-align: justify;
    float: left;
}

.title {
    font-weight: bold;
    text-decoration: underline;
}