body {
    background-color: ivory;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

*.hidden {
    display: none;
}

.section-title {}

.section-activity {
    margin: 0 5%;
}

.section-activity .content p {
    margin: 0 5%;
    text-align: justify;
}

.title {
    font-weight: bold;
    text-decoration: underline;
}